@model Pandape.Host.Mvc.ViewModels.DetailsCandidateAndExperiencesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.SurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.SurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.InsertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.InsertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.ModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.ModifyDate)
        </dd>
    </dl>
</div>

<div>
    @await Html.PartialAsync("_DetailsExperiencePartial.cshtml")
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Candidate.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>

<div class="float-right">
    <a asp-controller="CandidateExperiences" asp-action="Create" asp-route-id="@Model.Candidate.Id" class="btn btn-primary ">
        Add
    </a>
</div>